aiohttp==3.8.5
aiosignal==1.3.1
altair==5.
async-timeout==4.
attrs==23.
bcrypt==4.
blinker==1.
cachetools==5.
certifi==2023.
chardet==3.
charset-normalizer==3.
click==8.
colorama==0.
dateparser==1.
decorator==4.
extra-streamlit-components==0.
filelock==3.
frozenlist==1.
fsspec==2023.
ftfy==6.
gitdb==4.
GitPython==3.
google-auth==2.
google-auth-oauthlib==1.
googletrans==4.
gspread==5.
h11==0.
h2==3.
herpetologist==0.
hpack==3.
hstspreload==2023.
httpcore==0.
httplib2==0.
httpx==0.
huggingface-hub==0.
hyperframe==5.
idna==2.
importlib-metadata==6.
Jinja2==3.
joblib==1.
jsonschema==4.
jsonschema-specifications==2023.
malaya==5.
malaya-boilerplate==0.
markdown-it-py==3.
MarkupSafe==2.
mdurl==0.
memoization==0.
multidict==6.
networkx==2.
numpy==1.
oauth2client==4.
oauthlib==3.
openai==0.
packaging==23.
pandas==2.
Pillow==9.
pip==22.
protobuf==4.
pyarrow==12.
pyasn1==0.
pyasn1-modules==0.3.0
pydeck==0.8.0
Pygments==2.15.1
PyJWT==2.8.0
Pympler==1.0.1
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.1
referencing==0.30.0
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==13.4.2
rpds-py==0.9.2
rsa==4.9
safetensors==0.3.1
scikit-learn==1.3.0
scipy==1.11.1
sentencepiece==0.1.99
setuptools==58.1.0
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
streamlit==1.25.0
streamlit-authenticator==0.2.2
tenacity==8.2.2
threadpoolctl==3.2.0
tokenizers==0.13.3
toml==0.10.2
toolz==0.12.0
tornado==6.3.2
tqdm==4.65.0
transformers==4.31.0
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==4.3.1
Unidecode==1.3.6
urllib3==1.26.16
validators==0.20.0
watchdog==3.0.0
wcwidth==0.2.6
yarl==1.9.2
zipp==3.16.2


